@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Playfair+Display:wght@700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-height: 100vh;
	display: flex;
	flex-flow: column;
}

p {
	font-family: 'Alice';
	font-size: 1.4rem;
	@apply text-secondary;
	word-break: break-word;
}

h1,
h2 {
	font-family: 'Bakbak One', cursive;
	@apply text-primary;
	word-break: break-word;
}

a {
	@apply text-quarternary;
	text-decoration: underline;
}
